In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_excel('supervised data_f.xlsx')

In [3]:
df.shape

(1034, 3)

In [4]:
df.columns

Index(['Product_id', 'product_price', 'anomaly_tag'], dtype='object')

In [5]:
test_df=df.loc[df['anomaly_tag'].isnull()]

In [6]:
test_df

      Product_id  product_price anomaly_tag
453           96      58.000000         NaN
476           96      80.180000         NaN
500           96      58.000000         NaN
501           96      71.889999         NaN
502           96      71.889999         NaN
...          ...            ...         ...
996           96      73.529999         NaN
1005          96      80.180000         NaN
1012          96      80.180000         NaN
1022          96      80.180000         NaN
1028          96      55.000000         NaN

[150 rows x 3 columns]

In [7]:
test_df=test_df.iloc[:,[0,1]]

In [19]:
test_df

      Product_id  product_price
453           96      58.000000
476           96      80.180000
500           96      58.000000
501           96      71.889999
502           96      71.889999
...          ...            ...
996           96      73.529999
1005          96      80.180000
1012          96      80.180000
1022          96      80.180000
1028          96      55.000000

[150 rows x 2 columns]

In [25]:
df.dropna(inplace=True)

In [26]:
from collections import Counter
y=df['anomaly_tag']
X=df.iloc[:,[0,1]]
Counter(y)

Counter({'Normal': 862, 'Anomaly': 22})

In [27]:
X.isnull().sum()

Product_id       0
product_price    0
dtype: int64

### Model Creation and fitting the data that contains labels

In [28]:
model1 = RandomForestClassifier()
model1.fit(X,y)

RandomForestClassifier()

### Now use the model to predict labels (called pseudo labels) for no label data

In [29]:
y_new = model1.predict(test_df)
y_new

array(['Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Normal', 'Normal', 'Normal', 'Anomaly', 'Normal', 'Normal',
       'Normal', 'Normal', 'Normal', 'Normal', 'Anomaly', 'Anomaly',
       'Anomaly', 'Anomaly', 'Normal', 'Anomaly', 'Normal', 'Normal',
       'Normal', 'Normal', 'Anomaly', 'Normal', 'Normal', 'Normal',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Normal', 'Normal', 'Normal', 'Normal', 'Anomaly', 'Normal',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Anomaly',
       'Normal', 'Anomaly', 'Normal', 'Normal', 'Normal', 'Normal',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Anomaly',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Normal', 'Normal', 'Normal', 'Anomaly', 'Normal', 'Anomaly',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Anomaly', 'Anomaly', 'Anomaly', 'Anomaly', 'Normal', 'Anomaly',
       'Normal', 'Normal', 'Normal', 'Normal', 'Anomaly', 'Normal',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Anomaly', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Normal', 'Anomaly', 'Normal', 'Anomaly', 'Normal', 'Normal',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Normal', 'Anomaly', 'Normal', 'Normal', 'Normal', 'Normal',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Anomaly',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal'],
      dtype=object)

In [31]:
data=test_df.copy()
data['target']=y_new
data.to_csv('predicted.csv', mode='w', index=False)

### Similarly both labels(original and pseudo) are also concatenated.

In [32]:
final_X = np.concatenate((X,test_df))
final_X.shape

(1034, 2)

In [33]:
final_Y = np.concatenate((y,y_new))
final_Y.shape

(1034,)

### Final model containing entire dataset is fitted and accuracy score is generated

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model2 = LogisticRegression()
# fit supervised learning model on entire training dataset
model2.fit(final_X,final_Y)
# make predictions on hold out test set
yhat = model2.predict(test_df)
# calculate score for test set
score = accuracy_score(y_new, yhat)
# summarize score
print('Accuracy: %.3f' % (score*100))

Accuracy: 100.000

C:\Users\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(